# .env — Variables de entorno para desarrollo LOCAL
# ⚠️  NO subas este archivo a GitHub. Agrégalo a .gitignore.

DJANGO_SECRET_KEY=django-insecure-dev-secret-key-cambia-en-produccion
DEBUG=True
MONGO_URI=mongodb://localhost:27017/gamificacion_db
